 <body>
  <h1>Some famous Food Recipe</h1>
  

<p><a href="/recipes">All Recipes</a></p>
<p><a href="/toprating">Top Rating Recipes</a></p>

<form method="GET" action="/search">
<p>Search for a recipe name(key words in recipe name or ingredients): <input type="text" name="name"> <input type="submit" value="Searchs"></p>
</form>


<form method="GET" action="/recipe">
<p>Search for a recipe details(exact name): <input type="text" name="name"> <input type="submit" value="Searchs"></p>
</form>



</html>